body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    /* background-color: #009c3b; */
    background-color: white;
    margin: 0;
}
.header {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:black;
    background-color: #ffdf00;
    border: 2px solid #ffdf00;
    height: 60px;
    width: 100%;
    position: fixed;
    margin:0;
    top:0;
}
.footer {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:white;
    position: fixed;
    /* background-color: #ffdf00;  */
    background-color: black;
    /* border: 2px solid #ffdf00; */
    height: 10px;
    width: 100%;
    margin:0;
    bottom: 0;
    position: relative;
    height: 200px;
}
.logo{
    width: 75px;
    height: 50px;
    margin-left: 20px;
    margin-top: 2px;
    float: left;
}
.logofooter{
    width: 75px;
    height: 50px;
    margin-left: 20px;
    margin-top: 2px;
    float: left;
    vertical-align: middle;
}
li{
    display: inline-block;
    font-size: 25px;
    margin-left: 50px;
    padding: 0px 20px;
}
.statue {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #ffe740;
    border: 2px solid #ffe740;
    border-radius: 8px;
    margin-top: 150px;
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
    width: 90%;
    height: 400px;
    display: block;
}
.falls {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #ffe740;
    border: 2px solid #ffe740;
    border-radius: 8px;
    padding: 5px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    height: 400px;
    display: block;
}
.museum {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #ffe740;
    border: 2px solid #ffe740;
    border-radius: 8px;
    padding: 5px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;
    width: 90%;
    height: 400px;
    display: block;
}

.statuetext{
    width: 750px;
    font-size: 20px;
    float: right;
    text-align: justify;
    display: block;
}

.fallstext{
    width: 750px;
    font-size: 20px;
    float: left;
    text-align: justify;
    display: block;
}
.museumtext{
    width: 750px;
    float: right;
    font-size: 20px;
    text-align: justify;
    display: block;
}

.statueimage { 
    width: 590px;
    height: 380px;
    float: left;
    display: block;
}

.fallsimage {
    width: 590px;
    height: 380px;
    float: right;
    display: block;
}

.museumimage {
    width: 590px;
    height: 380px;
    float: left;
    display: block;
}

.statuehead{
    text-align: center;
    font-size: 30px;
}
.fallshead{
    text-align: center;
    font-size: 30px;
}
.museumhead{
    text-align: center;
    font-size: 30px;
}
.socialmedia{
    
}
